<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
  <key>CFBundleName</key>
  <string>SchroedingersCat</string>

  <key>CFBundleDisplayName</key>
  <string>Schroedinger's Cat: The Game</string>

  <key>CFBundleIconFile</key>
  <string>SchroedingersCat.icns</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleExecutable</key>
  <string>rungame.sh</string>

  <key>CFBundleIdentifier</key>
  <string>com.harveyboys.SchroedingersCat</string>
</dict>
</plist>
